@import "reset.css";
@import "icons.css";
@import "styles.css";
@import "media.css";

@font-face {
    font-family: "e-Ukraine Head";
    src: url("../fonts/main-font/e-UkraineHead-Bold.otf");
    font-weight: bold; /* 700 */
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "e-Ukraine Head";
    src: url("../fonts/main-font/e-UkraineHead-Medium.otf");
    font-weight: 500; /* 500 */
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "e-Ukraine Head";
    src: url("../fonts/main-font/e-UkraineHead-Regular.otf");
    font-weight: normal; /* 400 */
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "e-Ukraine Head";
    src: url("../fonts/main-font/e-UkraineHead-Light.otf");
    font-weight: 300; /* 300 */
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "e-Ukraine Head";
    src: url("../fonts/main-font/e-UkraineHead-UltraLight.otf");
    font-weight: 200; /* 200 */
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "e-Ukraine Head";
    src: url("../fonts/main-font/e-UkraineHead-Thin.otf");
    font-weight: 100; /* 100 */
    font-style: normal;
    font-display: block;
}

/* 

100: Thin;
200: Extra Light (Ultra Light);
300: Light;
400: Normal;
500: Medium;
600: Semi Bold (Demi Bold);
700: Bold;
800: Extra Bold (Ultra Bold);
900: Black (Heavy).

 */

::-moz-selection {
     background-color: #efd046b6;
    color: white;
}
::selection {
    background-color: #efd046b6;
    color: white;
}
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
    width: 0;
}
::-webkit-scrollbar {
    width: 7px;
    background-color: #0f1010;
}
::-webkit-scrollbar:horizontal {
    height: 7px;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece:horizontal,
::-webkit-scrollbar-button,
::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-button:horizontal,
::-webkit-resizer:horizontal {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(15, 16, 16, 0.8);
    border-radius: 20px;
}
