.container {
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 1921px) {
    .container {
        width: calc(1440px + 1.25rem * 2);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        max-width: 1816px;
    }
}
@media screen and (min-width: 1299px) and (max-width: 1920px) {
    .container {
        max-width: calc(1440px + 64px * 2);
        padding: 0 64px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1298px) {
    .container {
        max-width: 1200px;
        padding: 0 32px;
    }
    header nav.header-nav li {
        margin: auto 10px;
    }
}
@media (min-width: 1440px) {
    header {
        max-width: 1900px;
        padding-left: 64px;
        padding-right: 64px;
    }
    header {
        height: 88px;
    }
    .main-wrapper {
        margin-top: 88px;
    }
    .collection-bg {
        height: calc((100vw - 240px) / 6.2 - 1px);
        max-height: 450px;
    }
}
@media (max-width: 1439px) {
    header {
        height: 88px;
    }
    .main-wrapper {
        margin-top: 88px;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .container {
        max-width: calc(100% - 30px * 2);
        padding: 0 30px;
    }
    header nav.header-nav li {
        margin: auto 4px;
    }
}
@media screen and (min-width: 440px) and (max-width: 768px) {
    .container {
        max-width: 680px;
        padding: 0 30px;
    }
}
@media screen and (max-width: 439px) {
    .container {
        max-width: 100%;
        padding: 0 12px;
    }
}

@media (min-width: 991px) {
    .mobile-menu-status,
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 990.5px) {
    .mobile-menu-status {
        display: flex;
    }
    .mobile-menu {
        display: none;
    }
    .header-nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .card-angel .btn.btn-yellow:hover,
    .card-help .btn.btn-yellow:hover,
    .btn.btn-connect:not(.btn-connected):hover,
    .section-main .btn-wrapper .btn.btn-yellow:hover,
    .input-count .btn.btn-plus:hover,
    .input-wrapper.input-count .btn:hover,
    .modal-main-btn:hover,
    .btn-see-all:hover,
    .btn-submit:hover {
        background: #ffcf00;
        color: #0f1010;
        transition: 0.2s;
    }
    .header-link:hover,
    .header-link:active,
    .footer-link:hover,
    .footer-link:active {
        color: #efcf46;
        transition: 0.2s;
    }
    .card-angel .btn.btn-blue:hover,
    .section-main .btn-wrapper .btn.btn-blue:hover {
        background: #00a5ff;
        transition: 0.2s;
    }
    a.organization__block:hover i.i-share-box-fill,
    .card.card-buy:hover i.i-share-box-fill {
        color: #efcf46;
        transition: 0.2s;
    }
    .card.card-buy:hover,
    .btn-speed-amount:hover,
    .card-help:hover,
    .link-team:hover,
    .to__main:hover div,
    a.organization__block:hover {
        border-color: #efcf46;
        transition: 0.2s;
    }
    .ul-social-list a:hover {
        border: 1px solid #efcf46;
        transition: 0.2s;
    }
    .ul-social-list a:hover svg {
        fill: #efcf46;
        transition: 0.2s;
    }
}

@media (max-width: 1440px) {
    .section-block.section-block-card {
        margin-left: 70px;
    }
    .section-block.section-block-content {
        max-width: calc(100% - 520px - 70px);
    }
}
@media (min-width: 991px) and (max-width: 1298px) {
    .card.card-main,
    .card.card-collection,
    .card.card-donate,
    .card__title,
    .photo-team,
    .section-situation iframe {
        max-width: 480px;
    }
    .section-block.section-block-content {
        max-width: calc(100% - 480px - 70px);
    }
    header .btn {
        padding: 12px;
    }
    .logo {
        width: 150px;
    }
}

@media (max-width: 1298px) {
    .section-block-nft .block-nft {
        width: calc(100% / 3 - 30px);
        margin-bottom: 60px;
    }
    .header-nav {
        margin-left: 30px;
    }
    header nav.header-nav li {
        margin: 0 7px;
    }
    .footer-block {
        padding-right: 70px;
    }
}

@media (max-width: 1100px) {
    .section-block-nft .block-nft {
        width: calc(100% / 3 - 30px);
        margin-bottom: 60px;
    }
    .header-nav {
        margin-left: 20px;
    }
    header nav.header-nav li {
        margin: 0 6px;
    }
    .footer-block {
        padding-right: 60px;
    }
    .header-link,
    .footer-link {
        font-size: 14px;
        line-height: 20px;
    }
    .section-block.section-block-content {
        max-width: 100%;
    }
    .section-block-container {
        flex-direction: column;
    }
    .section-block.section-block-card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
}

@media (max-width: 991px) {
    .footer-block {
        padding-right: 40px;
    }
    .cards-buy-wrapper,
    .cards-angels-wrapper,
    .cards-help-wrapper {
        margin: -20px -10px 20px;
        width: calc(100% + 20px);
    }
    .cards-buy-wrapper > .card,
    .cards-angels-wrapper > .card {
        width: calc(100% / 3 - 20px);
        margin: 20px 10px;
    }
}
