.container {
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 1921px) {
    .container {
        width: calc(1440px + 1.25rem * 2);
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        max-width: 1816px;
    }
}
@media screen and (min-width: 1299px) and (max-width: 1920px) {
    .container {
        max-width: calc(1440px + 64px * 2);
        padding: 0 64px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1298px) {
    .container {
        max-width: 1200px;
        padding: 0 32px;
    }
    header nav.header-nav li {
        margin: auto 10px;
    }
}
@media (min-width: 1440px) {
    header {
        max-width: 1900px;
        padding-left: 64px;
        padding-right: 64px;
    }
    header {
        height: 88px;
    }
    .main-wrapper {
        padding-top: 88px;
    }
    .collection-bg {
        height: calc((100vw - 240px) / 6.2 - 1px);
        max-height: 450px;
    }
}
@media (max-width: 1439px) {
    header {
        height: 88px;
    }
    .main-wrapper {
        padding-top: 88px;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .container {
        max-width: calc(100% - 30px * 2);
        padding: 0 30px;
    }
    header nav.header-nav li {
        margin: auto 4px;
    }
}
@media screen and (min-width: 440px) and (max-width: 768px) {
    .container {
        max-width: 680px;
        padding: 0 30px;
    }
}
@media screen and (max-width: 439px) {
    .container {
        max-width: 100%;
        padding: 0 12px;
    }
}

@media (min-width: 991px) {
    .mobile-menu-status,
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 990.5px) {
    .mobile-menu-status {
        display: flex;
        font-size: 38px;
        margin-left: 24px;
    }
    /* .mobile-menu {
        display: none;
    } */
    .header-nav {
        display: none;
    }
    .header-main-buttons {
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .card-angel .btn.btn-yellow:hover,
    .card-help .btn.btn-yellow:hover,
    .btn.btn-connect:not(.btn-connected):hover,
    .section-main .btn-wrapper .btn.btn-yellow:hover,
    .input-count .btn.btn-plus:hover,
    .input-wrapper.input-count .btn:hover,
    .modal-main-btn:hover,
    .btn-see-all:hover,
    .btn-submit:hover {
        background: #ffcf00;
        color: #0f1010;
        transition: 0.2s;
    }
    .header-link:hover,
    .header-link:active,
    .footer-link:hover,
    .footer-link:active {
        color: #efcf46;
        transition: 0.2s;
    }
    .card-angel .btn.btn-blue:hover,
    .section-main .btn-wrapper .btn.btn-blue:hover {
        background: #00a5ff;
        transition: 0.2s;
    }
    a.organization-block:hover i.i-share-box-fill,
    .card.card-buy:hover i.i-share-box-fill {
        color: #efcf46;
        transition: 0.2s;
    }
    .card.card-buy:hover,
    .btn-speed-amount:hover,
    .card-help:hover,
    .link-team:hover,
    input:active,
    input:focus,
    .to-main:hover div,
    a.organization-block:hover {
        border-color: #efcf46;
        transition: 0.2s;
    }
    .ul-social-list a:hover {
        border: 1px solid #efcf46;
        transition: 0.2s;
    }
    .ul-social-list a:hover svg {
        fill: #efcf46;
        transition: 0.2s;
    }
}

@media (max-width: 1440px) {
    .section-block.section-block-card {
        margin-left: 70px;
    }
    .section-block.section-block-content {
        max-width: calc(100% - 520px - 70px);
    }
}
@media (min-width: 991px) and (max-width: 1298px) {
    .card.card-main,
    .card.card-collection,
    .card.card-donate,
    .photo-team,
    .section-situation iframe {
        max-width: 480px;
    }
    .section-block.section-block-content {
        max-width: calc(100% - 480px - 70px);
    }
    header .btn {
        padding: 12px;
    }
    .logo {
        width: 150px;
    }
}

@media (max-width: 1298px) {
    .section-block-nft .block-nft {
        width: calc(100% / 3 - 30px);
        margin-bottom: 60px;
    }
    .header-nav {
        margin-left: 30px;
    }
    header nav.header-nav li {
        margin: 0 7px;
    }
    .footer-block {
        padding-right: 40px;
    }
}

@media (max-width: 1100px) {
    .section-block-nft .block-nft {
        width: calc(100% / 3 - 30px);
        margin-bottom: 60px;
    }
    .header-nav {
        margin-left: 20px;
    }
    header nav.header-nav li {
        margin: 0 6px;
    }
    .footer-block {
        padding-right:20px;
    }
    .header-link,
    .footer-link {
        font-size: 14px;
        line-height: 20px;
    }
    .section-block.section-block-content {
        max-width: 100%;
    }
    .info-page-wrapper .section-block-container{
        align-items: center;
    }
    .section-block-container {
        flex-direction: column;
    }
    .section-block.section-block-card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
    .section-team .section-block.section-block-card {
        margin-top: 32px;
    }
    .section-team .ul-social-list {
        width: fit-content;
    }

    .section-block-container .organization-block {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .section-block-container {
        text-align: center;
    }
    .section-main .btn-wrapper {
        display: flex;
        justify-content: center;
    }
    .section-main .btn-wrapper .btn {
        margin-left: 12px;
        margin-right: 12px;
    }
    .menu-btn-wrapper {
        display: none;
    }
    .link-team,
    .title-date,
    .link-team,
    .section-team .ul-social-list,
    .section-team .ul-social-list {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 991px) {
    .footer-block {
        padding-right: 40px;
        width: calc(100% / 2);
    }
    .cards-buy-wrapper,
    .cards-angels-wrapper {
        margin: -20px -10px 20px;
        width: calc(100% + 20px);
    }
    .cards-buy-wrapper > .card,
    .cards-angels-wrapper > .card {
        width: calc(100% / 3 - 20px);
        margin: 10px 10px;
        min-width: 520px;
    }
    .cards-help-wrapper {
        margin: -20px auto 20px;
        width: 100%;
        flex-direction: column;
    }
    .cards-help-wrapper > .card {
        margin: 15px auto;
        width: 100%;
    }
    .section.section-team,
    .cards-angels-wrapper {
        padding-bottom: 0;
    }
    .section-block-nft:not(.section-block-nft-desktop) {
        display: flex;
        margin-bottom: -30px;
    }
    .photo-team.photo-team-mobile,
    .section-situation .section-block.section-block-card .body1 {
        display: block;
    }
    .section-situation iframe,
    .photo-team.photo-team-mobile,
    .photo-team.photo-team-mobile + .body1,
    .section-block-nft:not(.section-block-nft-desktop),
    .section-situation .section-block.section-block-card .body1 {
        margin-top: 24px;
    }
    .section-situation .section-block.section-block-card {
        margin-top: 16px;
    }
    .section-block-nft.section-block-nft-desktop,
    .photo-team:not(.photo-team-mobile),
    .section-team .section-block.section-block-card,
    .section-situation .section-block.section-block-content .body1 {
        display: none;
    }
    .photo-team.photo-team-mobile,
    .section-situation iframe {
        margin-left: auto;
        margin-right: auto;
    }
    .section-block.section-block-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .organization-logo {
        width: 40px;
        height: 40px;
        min-width: 40px;
        margin-right: 16px;
    }
    .organization-block {
        padding-top: 24px;
        padding-bottom: 16px;
    }
    .organization .organization-block:first-child {
        padding-top: 40px;
    }
    .info-page-wrapper .heading1 + .body2 {
        margin-top: 16px;
    }
    .to-main {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    /* -----font-----_ */
    .subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .heading1 {
        font-size: 32px;
        line-height: 40px;
    }
    .heading2 {
        font-size: 24px;
        line-height: 32px;
    }
    .heading1 + .body1 {
        margin-top: 16px;
    }
    .body1,
    .body2,
    .modal-p {
        font-size: 16px;
        line-height: 24px;
    }
    .total-supply,
    .title1,
    .modal-name,
    .card-help .title {
        font-size: 24px;
        line-height: 32px;
    }
    .input-label,
    .supply-label {
        font-size: 14px;
        line-height: 20px;
    }
    .cards-help-wrapper > .card {
        height: 340px;
        max-width: 520px;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
    .footer .container {
        padding-bottom: 88px;
    }
    .footer-block {
        margin-bottom: 48px;
        flex-grow: 1;
    }
    .footer-block:first-child {
        width: 100%;
        height: 89px;
    }
}

@media (max-width: 768px) {
    .footer-block {
        padding-right: 40px;
    }
    .cards-buy-wrapper,
    .cards-angels-wrapper {
        margin: -20px -10px 20px;
        width: calc(100% + 20px);
    }
    .cards-buy-wrapper > .card,
    .cards-angels-wrapper > .card {
        width: 100%;
        margin: 10px 10px;
        min-width: unset;
    }
    .card.card-main,
    .card.card-collection,
    .card.card-donate,
    .cards-buy-wrapper > .card,
    .cards-angels-wrapper > .card {
        width: 100%;
        max-width: 520px;
    }
    .section-block.section-block-card {
        width: 100%;
    }
    .info-page-wrapper .section-block.section-block-card {
        align-items: flex-start;
    }
    .cards-help-wrapper {
        margin: -20px auto 20px;
        width: 100%;
        flex-direction: column;
    }
    .section-situation .section-block-container {
        align-items: flex-start;
    }
    .header-main-buttons {
        display: none;
    }
    .card-help {
        border-color: #efcf46;
    }
    .container-img {
        height: 120px;
    }
    .section-stop-war {
        height: 184px;
    }
}
@media (max-width: 580px) {
    .card-main-img div {
        height: 160px;
        width: 110px;
    }
    .card-main-img {
        height: 200px;
        max-width: 290px;
    }
    .card-collection .card-section,
    .card-main .card-section {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .card-main .card-section,
    .card-main .card-footer,
    .card-collection .card-section,
    .card-collection .card-footer {
        padding-left: 16px;
        padding-right: 16px;
    }
    .card-main .card-footer .input-wrapper.input-count,
    .card-main .card-footer .btn.btn-submit,
    .card-collection .card-footer .input-wrapper.input-count,
    .card-collection .card-footer .btn.btn-submit {
        width: 100%;
    }
    .input-container {
        flex-direction: column;
    }
    .input-container .btn.btn-submit {
        margin-top: 16px;
    }
    .section-block.section-block-card {
        margin-top: 36px;
    }
    .photo-team {
        width: 100%;
    }
    .section-situation iframe {
        width: calc(100vw - 60px);
    }
    .section-block-nft .block-nft {
        width: calc(100% / 2 - 16px);
        margin: 0 8px 23px;
    }
    .section-block-nft {
        margin-left: -8px;
        margin-right: -8px;
        width: calc(100% + 16px);
    }
    .nft-img-mask {
        height: 224px;
    }
    .section-angels .container {
        background-size: 188px 125.04px;
        background-position: top center;
    }
    .cards-help-wrapper > .card {
        padding: 32px 16px;
        border-radius: 16px;
        height: 220px;
    }
    .cards-help-wrapper > .card .btn {
        /* max-width: calc(100% - 32px); */
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
    }
    .section-main .btn-wrapper {
        display: flex;
        flex-direction: column;
    }
    .section-main .btn-wrapper .btn {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .speed-amount-container {
        flex-wrap: wrap;
    }
    .btn-speed-amount {
        width: calc(100% / 2 - 8px);
        margin-top: 4px;
    }
    .photo-team.photo-team-mobile {
        max-height: 320px;
        height: calc(100vw - 60px);
    }
    .section-help {
        background-size: 100% 285px;
        background-position: center bottom;
    }
    .footer .container {
        padding-bottom: 0;
        padding-top: 32px;
    }
    .section-team .ul-social-list,
    .link-team {
        margin-left: 0;
    }
    .section-situation .container{
        margin-bottom: 0;
    }
    .footer-block {
        padding-right: 25px;
    }
    .section-donate{
        background-image: none;
    }
    .section-main{
        padding-top: 32px;
    }
    .container-stop-war span{
        font-size: 12px;
        padding: 10px;
    }
    .container-stop-war{
        height: 45px;
    }
}
