#app {
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
}
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0f1010;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
header {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    align-content: stretch;
}
.header-nav {
    display: flex;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    margin-left: 60px;
}
.header-nav li {
    margin: 0 20px;
}
.main-view {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.footer {
    margin-top: auto;
}
.ul-drop-down,
.ul-flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}
ul.ul-drop-down li > a,
ul.ul-flex-column li > a,
ul.ul-drop-down li > button,
ul.ul-flex-column li > button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.header-nav > a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.header-main-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mobile-menu {
    position: fixed;
    top: 64px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}
.title {
    font-size: 70px;
    color: black;
}
header .btn {
    padding: 12px 24px;
}
.header-link {
    color: rgba(255, 255, 255, 0.9);
}
.header-link:hover,
.header-link:active {
    color: #efcf46;
    transition: 0.2s;
}
.btn.btn-connect {
    border: 1px solid #efcf46;
    color: #fff;
}
.btn.btn-connect > .icon {
    width: 36px;
    height: 32px;
}
.btn.btn-connect span + span.icon {
    margin-left: 16px;
}
.logo {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/Logo.png);
    width: 161px;
    height: 100%;
    min-height: 48px;
}
.metamask-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.metamask-img {
    background-image: url(../images/metamask.svg);
}
.btn {
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
}
.title0 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
}
.title1 {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.title0 + .title1 {
    margin-top: 16px;
}
.title1 + .describe {
    margin-top: 24px;
}
.section-main .btn-wrapper {
    margin-top: 24px;
}
.section-main .btn-wrapper .btn {
    margin-top: 24px;
    margin-right: 24px;
    float: left;
    padding: 16px 32px;
}
.section-main .btn-wrapper .btn.btn-blue {
    background-color: #0487cf;
    color: #ffffff;
}
.section-main .btn-wrapper .btn.btn-yellow,
.input-count .btn.btn-plus,
.btn-submit {
    background-color: #efcf46;
    color: #0f1010;
}
.input-count .btn.btn-minus{
    background-color: rgba(255, 255, 255, 0.1);
}
.section-main .title1 {
    font-size: 56px;
    line-height: 70px;
}
.section-main .title1 span {
    display: block;
}
.section-main .title1 span:first-child {
    color: #0487cf;
}
.section-main .title1 span:nth-child(2) {
    color: #efcf46;
}
.section-main {
    padding-top: 64px;
}
.describe {
    color: #ffffff;
    line-height: 150%;
}
.section-block {
    float: left;
}
.section-block.section-block-content {
    max-width: calc(100% - 520px - 140px);
}
.section-block.section-block-card {
    margin-left: 140px;
}
.card {
    background-color: rgba(15, 16, 16, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}
.card.card-main {
    border-radius: 24px;
    float: right;
    width: 520px;
}
.card-main .card-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.card-main .card-footer {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.card-main .card-section,
.card-main .card-footer {
    padding-left: 32px;
    padding-right: 32px;
}
.card-main .card-footer {
    padding-top: 24px;
    padding-bottom: 40px;
}
.card-main-img {
    background-position: center;
    background-image: url(../images/main-card.png);
    width: 100%;
    height: 316px;
}
.input-wrapper {
    position: relative;
    z-index: 0;
}
.input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    height: 56px;
    z-index: inherit;
}
.input-count .input {
    padding-left: 56px;
    padding-right: 56px;
}
.input-wrapper.input-count .btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    font-size: 26px;
    z-index: 2;

}
.input-wrapper.input-count .btn.btn-minus {
    left: 8px;
}
.input-wrapper.input-count .btn.btn-plus {
    right: 8px;
}
.input-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}
.card-main .card-footer .input-wrapper.input-count,
.card-main .card-footer .btn.btn-submit {
    width: calc(50% - 8px);
}
.card-main .card-footer .btn.btn-submit {
    margin-left: auto;
}
.input-wrapper.input-count .input {
    text-align: center;
    width: 100%;
}
.input-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.input-total {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
.input-total span {
    font-weight: 500;
    color: #ffffff;
}
.card-main .input-total{
    text-align: center;
    margin-top: 24px;
}